In [1]:
import pandas as pd
import seaborn as sns

C:\Users\HP\Anaconda3\envs\Rssi\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
formations=['433','4231','3142','442','4141','3412','352','3421','41212','41221','4321','4411','31213','4312']

pl2021={}
pl1920={}
pl1819={}
pl1718={}
pl1617={}
pl1516={}
def import_datasets(name):
        temp={}
        print("name",name)
        for i in formations:
                path='./Scrappers/players/'+name+'.xlsx'
                try:
                    temp[i]=pd.read_excel(path,sheet_name=i)


                except:
                    print(i," not in year")
        return temp

In [3]:
temp=[
pl2021,
pl1920,
pl1819,
pl1718,
pl1617,
pl1516]
j=0
for i in ['2021','1920','1819','1718','1617','1516']:
     
    print("here",i)
    i=import_datasets(str(i))
    temp[j]=i
    j=j+1

here 2021
name 2021
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1920
name 1920
3142  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
here 1819
name 1819
4231  not in year
3412  not in year
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1718
name 1718
3142  not in year
4141  not in year
3412  not in year
3421  not in year
41221  not in year
4321  not in year
31213  not in year
4312  not in year
here 1617
name 1617
4231  not in year
442  not in year
3412  not in year
352  not in year
4321  not in year
4411  not in year
here 1516
name 1516
4231  not in year
3142  not in year
442  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41212  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year

In [4]:
temp[1]

{'433':               NAME POSITION Unnamed: 2
 0   M. ter Stegen        GK         79
 1       N. Semedo        DR         79
 2        G. Pique       DCR         86
 3      C. Lenglet       DCL         84
 4         J. Alba        DL         91
 5      S. Roberto       MCR         82
 6      I. Rakitić        MC         78
 7      F. de Jong       MCL         86
 8        L. Messi        WR         99
 9       L. Suárez         S       82
 10   A. Griezmann        WL         92,
 '4231':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK        79.0
 1        M. Wagué        DR         NaN
 2        G. Pique       DCR        86.0
 3       S. Umtiti       DCL        74.0
 4           Firpo        DL        75.0
 5      F. de Jong      DMCR        86.0
 6     S. Busquets      DMCL        90.0
 7      O. Dembélé       AMR        84.0
 8        L. Messi       AMC        99.0
 9    A. Griezmann       AML        92.0
 10      L. Suárez         S        82.0,
 '442':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK          79
 1       N. Semedo        DR          79
 2        G. Pique       DCR          86
 3      C. Lenglet       DCL          84
 4         J. Alba        DL          91
 5        A. Vidal        MR          78
 6     S. Busquets       MCR          90
 7      I. Rakitić       MCL          78
 8         B'waite        ML          74
 9        L. Messi       FCR          99
 10      L. Suárez       FCL          82,
 '41212':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK          79
 1       N. Semedo        DR          79
 2        G. Pique       DCR          86
 3      C. Lenglet       DCL          84
 4         J. Alba        DL          91
 5     S. Busquets       DMC          90
 6      S. Roberto       MCR          82
 7      Riqui Puig       MCL          77
 8        A. Vidal       AMC          78
 9        L. Messi       FCR          99
 10   A. Griezmann       FCL          92,
 '4312':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK          79
 1       N. Semedo        DR          79
 2        G. Pique       DCR          86
 3      C. Lenglet       DCL          84
 4         J. Alba        DL          91
 5      I. Rakitić       DMR          78
 6     S. Busquets       DMC          90
 7      S. Roberto       DML          82
 8        L. Messi       AMC          99
 9    A. Griezmann       FCR          92
 10      L. Suárez       FCL          82}

In [5]:
pl2021=temp[0]
pl1920=temp[1]
pl1819=temp[2]
pl1718=temp[3]
pl1617=temp[4]
pl1516=temp[5]

In [6]:
pl1516

{'433':               NAME POSITION Unnamed: 2
 0   M. ter Stegen        GK         79
 1      Dani Alves        DR         79
 2        G. Pique       DCR         86
 3   J. Mascherano       DCL         50
 4         J. Alba        DL         91
 5      I. Rakitić       MCR         78
 6     S. Busquets        MC         90
 7         Iniesta       MCL         63
 8        L. Messi        WR         99
 9       L. Suárez         S       82
 10     Neymar Jr.        WL         90,
 '41221':                 NAME POSITION Unnamed: 2
 0     M. ter Stegen        GK         79
 1        Dani Alves        DR         79
 2     J. Mascherano       DCR         50
 3      T. Vermaelen       DCL         64
 4   Adriano Correia        DL         54
 5       S. Busquets       DMC         90
 6        I. Rakitić       MCR         78
 7        S. Roberto       MCL         82
 8         L. Suárez       AMR       82
 9        Neymar Jr.       AML         90
 10          Iniesta         S         63}

In [11]:
import ipynb
from ipynb.fs.full.formation_trends import deets

# Player positioning analysis

1