In [1]:
import pandas as pd
import seaborn as sns

C:\Users\HP\Anaconda3\envs\Rssi\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [283]:
formations=['433','4231','3142','442','4141','3412','352','3421','41212','41221','4321','4411','31213','4312']

pl2021={}
pl1920={}
pl1819={}
pl1718={}
pl1617={}
pl1516={}
def import_datasets(name):
        temp={}
        print("name",name)
        for i in formations:
                path='./Scrappers/players/'+name+'.xlsx'
                try:
                    df=pd.read_excel(path,sheet_name=i)
                    df.columns=['NAME','POSITION','RATE']
                    temp[i]=df


                except:
                    print(i," not in year")
        return temp

In [284]:
temp=[
pl2021,
pl1920,
pl1819,
pl1718,
pl1617,
pl1516]
j=0
for i in ['2021','1920','1819','1718','1617','1516']:
     
    print("here",i)
    i=import_datasets(str(i))
    
    temp[j]=i
    
    j=j+1

here 2021
name 2021
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1920
name 1920
3142  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
here 1819
name 1819
4231  not in year
3412  not in year
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1718
name 1718
3142  not in year
4141  not in year
3412  not in year
3421  not in year
41221  not in year
4321  not in year
31213  not in year
4312  not in year
here 1617
name 1617
4231  not in year
442  not in year
3412  not in year
352  not in year
4321  not in year
4411  not in year
here 1516
name 1516
4231  not in year
3142  not in year
442  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41212  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year

In [285]:
temp[1]

{'433':               NAME POSITION  RATE
 0   M. ter Stegen        GK    79
 1       N. Semedo        DR    79
 2        G. Pique       DCR    86
 3      C. Lenglet       DCL    84
 4         J. Alba        DL    91
 5      S. Roberto       MCR    82
 6      I. Rakitić        MC    78
 7      F. de Jong       MCL    86
 8        L. Messi        WR    99
 9       L. Suárez         S  82
 10   A. Griezmann        WL    92, '4231':               NAME POSITION  RATE
 0   M. ter Stegen        GK  79.0
 1        M. Wagué        DR   NaN
 2        G. Pique       DCR  86.0
 3       S. Umtiti       DCL  74.0
 4           Firpo        DL  75.0
 5      F. de Jong      DMCR  86.0
 6     S. Busquets      DMCL  90.0
 7      O. Dembélé       AMR  84.0
 8        L. Messi       AMC  99.0
 9    A. Griezmann       AML  92.0
 10      L. Suárez         S  82.0, '442':               NAME POSITION  RATE
 0   M. ter Stegen        GK    79
 1       N. Semedo        DR    79
 2        G. Pique       DCR    86
 3      C. Lenglet       DCL    84
 4         J. Alba        DL    91
 5        A. Vidal        MR    78
 6     S. Busquets       MCR    90
 7      I. Rakitić       MCL    78
 8         B'waite        ML    74
 9        L. Messi       FCR    99
 10      L. Suárez       FCL    82, '41212':               NAME POSITION  RATE
 0   M. ter Stegen        GK    79
 1       N. Semedo        DR    79
 2        G. Pique       DCR    86
 3      C. Lenglet       DCL    84
 4         J. Alba        DL    91
 5     S. Busquets       DMC    90
 6      S. Roberto       MCR    82
 7      Riqui Puig       MCL    77
 8        A. Vidal       AMC    78
 9        L. Messi       FCR    99
 10   A. Griezmann       FCL    92, '4312':               NAME POSITION  RATE
 0   M. ter Stegen        GK    79
 1       N. Semedo        DR    79
 2        G. Pique       DCR    86
 3      C. Lenglet       DCL    84
 4         J. Alba        DL    91
 5      I. Rakitić       DMR    78
 6     S. Busquets       DMC    90
 7      S. Roberto       DML    82
 8        L. Messi       AMC    99
 9    A. Griezmann       FCR    92
 10      L. Suárez       FCL    82}

In [286]:
pl2021=temp[0]
pl1920=temp[1]
pl1819=temp[2]
pl1718=temp[3]
pl1617=temp[4]
pl1516=temp[5]

In [287]:
pl1516

{'433':               NAME POSITION  RATE
 0   M. ter Stegen        GK    79
 1      Dani Alves        DR    79
 2        G. Pique       DCR    86
 3   J. Mascherano       DCL    50
 4         J. Alba        DL    91
 5      I. Rakitić       MCR    78
 6     S. Busquets        MC    90
 7         Iniesta       MCL    63
 8        L. Messi        WR    99
 9       L. Suárez         S  82
 10     Neymar Jr.        WL    90,
 '41221':                 NAME POSITION  RATE
 0     M. ter Stegen        GK    79
 1        Dani Alves        DR    79
 2     J. Mascherano       DCR    50
 3      T. Vermaelen       DCL    64
 4   Adriano Correia        DL    54
 5       S. Busquets       DMC    90
 6        I. Rakitić       MCR    78
 7        S. Roberto       MCL    82
 8         L. Suárez       AMR  82
 9        Neymar Jr.       AML    90
 10          Iniesta         S    63}

In [288]:
import ipynb
from ipynb.fs.full.formation_trends import deets

# Player positioning analysis

In [309]:
# def info(x,name):
   
#     x=x.tolist()
#     print(x,count)

1. Messi

In [337]:
# position=pd.DataFrame(columns=['NAME','POSITION','RATE'])
import re
p = re.compile('Messi')
formation=[]
details=pd.DataFrame({'NAME':['L'],
                      'POSITION':['S'],
                      'RATE':['99'],
                     'formation':'433'})
for i in temp:
    for key,value in i.items():
#         formation.append(key)
        dub=value[value['NAME']=='L. Messi ']
        dub['formation']=key
        details=pd.concat([dub,details],ignore_index=True)

C:\Users\HP\Anaconda3\envs\Rssi\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [338]:
details

         NAME POSITION  RATE formation
0   L. Messi        WR    99       433
1   L. Messi       AMC    99      4312
2   L. Messi       AMC    99     31213
3   L. Messi       AMR    99     41221
4   L. Messi       AMC    99     41212
5   L. Messi       AMR    99      3421
6   L. Messi       FCR    99      3142
7   L. Messi        WR    99       433
8   L. Messi         S    99      4411
9   L. Messi       FCR    99     41212
10  L. Messi       FCR    99       352
11  L. Messi       FCR    99       442
12  L. Messi       FCL    99       352
13  L. Messi         S    99      4141
14  L. Messi       FCR    99       442
15  L. Messi         S    99       433
16  L. Messi       AMC    99      4312
17  L. Messi       FCR    99     41212
18  L. Messi       FCR    99       442
19  L. Messi       AMC  99.0      4231
20  L. Messi        WR    99       433
21  L. Messi       FCR    99       352
22  L. Messi       FCL    99      3412
23  L. Messi         S    99      4141
24  L. Messi       FCL  99.0      3142
25  L. Messi         S    99      4231
26  L. Messi         S    99       433
27          L        S    99       433

In [333]:
details[details['formation']=='433']

        NAME POSITION RATE formation
8  L. Messi        WR   99       433
8  L. Messi        WR   99       433
8  L. Messi         S   99       433
8  L. Messi        WR   99       433
9  L. Messi         S   99       433
0   L.MESSI         S   99       433