In [1]:
import pandas as pd
import seaborn as sns

C:\Users\HP\Anaconda3\envs\Rssi\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [65]:
formations=['433','4231','3142','442','4141','3412','352','3421','41212','41221','4321','4411','31213','4312',]

pl2021={}
pl1920={}
pl1819={}
pl1718={}
pl1617={}
pl1516={}
def import_datasets(name):
        temp={}
        print("name",name)
        for i in formations:
                path='./Scrappers/players/'+name+'.xlsx'
                try:
                    temp[i]=pd.read_excel(path,sheet_name=i)


                except:
                    print(i," not in year")
        return temp

In [66]:
temp=[
pl2021,
pl1920,
pl1819,
pl1718,
pl1617,
pl1516]
j=0
for i in ['2021','1920','1819','1718','1617','1516']:
     
    print("here",i)
    i=import_datasets(str(i))
    temp[j]=i
    j=j+1

here 2021
name 2021
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1920
name 1920
3142  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
here 1819
name 1819
4231  not in year
3412  not in year
41212  not in year
41221  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year
here 1718
name 1718
3142  not in year
4141  not in year
3412  not in year
3421  not in year
41221  not in year
4321  not in year
31213  not in year
4312  not in year
here 1617
name 1617
4231  not in year
442  not in year
3412  not in year
352  not in year
4321  not in year
4411  not in year
here 1516
name 1516
4231  not in year
3142  not in year
442  not in year
4141  not in year
3412  not in year
352  not in year
3421  not in year
41212  not in year
4321  not in year
4411  not in year
31213  not in year
4312  not in year

In [67]:
temp[5]

{'433':               NAME POSITION Unnamed: 2
 0   M. ter Stegen        GK         79
 1      Dani Alves        DR         79
 2        G. Pique       DCR         86
 3   J. Mascherano       DCL         50
 4         J. Alba        DL         91
 5      I. Rakitić       MCR         78
 6     S. Busquets        MC         90
 7         Iniesta       MCL         63
 8        L. Messi        WR         99
 9       L. Suárez         S       82
 10     Neymar Jr.        WL         90,
 '41221':                 NAME POSITION Unnamed: 2
 0     M. ter Stegen        GK         79
 1        Dani Alves        DR         79
 2     J. Mascherano       DCR         50
 3      T. Vermaelen       DCL         64
 4   Adriano Correia        DL         54
 5       S. Busquets       DMC         90
 6        I. Rakitić       MCR         78
 7        S. Roberto       MCL         82
 8         L. Suárez       AMR       82
 9        Neymar Jr.       AML         90
 10          Iniesta         S         63}

In [69]:
pl2021=temp[0]
pl1920=temp[1]
pl1819=temp[2]
pl1718=temp[3]
pl1617=temp[4]
pl1516=temp[5]

In [70]:
pl2021

{'433':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK          79
 1   Óscar Mingueza        DR          84
 2         G. Pique       DCR          86
 3        S. Umtiti       DCL          74
 4          J. Alba        DL          91
 5       F. de Jong       MCR          86
 6        M. Pjanić        MC          81
 7            Pedri       MCL          82
 8          Trincão        WR          71
 9         L. Messi         S          99
 10         B'waite        WL          74,
 '4231':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK          79
 1   Óscar Mingueza        DR          84
 2        R. Araújo       DCR          82
 3        S. Umtiti       DCL          74
 4          J. Alba        DL          91
 5        M. Pjanić      DMCR          81
 6       F. de Jong      DMCL          86
 7       O. Dembélé       AMR          84
 8            Pedri       AMC          82
 9     A. Griezmann       AML          92
 10        L. Messi         S          99,
 '3142':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK        79.0
 1      C. Lenglet        DR        84.0
 2       R. Araújo        DC        82.0
 3        G. Pique        DL        86.0
 4     S. Busquets       DMC        90.0
 5      O. Dembélé       AMR        84.0
 6           Ilaix      AMCR         NaN
 7           Pedri      AMCL        82.0
 8         J. Alba       AML        91.0
 9    A. Griezmann       FCR        92.0
 10       L. Messi       FCL        99.0,
 '442':               NAME POSITION  Unnamed: 2
 0   M. ter Stegen        GK          79
 1      S. Roberto        DR          82
 2        G. Pique       DCR          86
 3      C. Lenglet       DCL          84
 4         J. Alba        DL          91
 5      O. Dembélé        MR          84
 6     S. Busquets       MCR          90
 7      F. de Jong       MCL          86
 8           Pedri        ML          82
 9    A. Griezmann       FCR          92
 10      Ansu Fati       FCL          83,
 '4141':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK          79
 1          S. Dest        DR          75
 2        R. Araújo       DCR          82
 3   Óscar Mingueza       DCL          84
 4          J. Alba        DL          91
 5      S. Busquets       DMC          90
 6     A. Griezmann       AMR          92
 7            Pedri      AMCR          82
 8      P. Coutinho      AMCL          74
 9          B'waite       AML          74
 10        L. Messi         S          99,
 '3412':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK          79
 1   Óscar Mingueza        DR          84
 2       F. de Jong        DC          86
 3       C. Lenglet        DL          84
 4          S. Dest       DMR          75
 5      S. Busquets      DMCR          90
 6            Pedri      DMCL          82
 7          J. Alba       DML          91
 8     A. Griezmann       AMC          92
 9       O. Dembélé       FCR          84
 10        L. Messi       FCL          99,
 '352':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK          79
 1   Óscar Mingueza        DR          84
 2         G. Pique        DC          86
 3       C. Lenglet        DL          84
 4       S. Roberto        MR          82
 5       F. de Jong       MCR          86
 6      S. Busquets        MC          90
 7            Pedri       MCL          82
 8          J. Alba        ML          91
 9         L. Messi       FCR          99
 10    A. Griezmann       FCL          92,
 '3421':                NAME POSITION  Unnamed: 2
 0    M. ter Stegen        GK        79.0
 1        R. Araújo        DR        82.0
 2       F. de Jong        DC        86.0
 3   Óscar Mingueza        DL        84.0
 4          S. Dest        MR        75.0
 5      S. Busquets       MCR        90.0
 6            Ilaix       MCL         NaN
 7            Firpo        ML        75.0
 8          Trincão       AMR        71.0
 9     A. Griezmann       AML        92.0
 10      O. Dembélé         S        84.0}